<div class="jumbotron">
    <h1>Pokemon Assginment</h1>

    <div>
        <div class="row">
            <div class="col-md-4">
                <input type="button" class="btn btn-primary" value="Get Pokemon" onclick="getPokemon();" style="width=100%"/>
                <label>Pokemon</label>
                <select id="lstPokemon" size="6" onchange="pokemonSelected()" style="width:100%"></select>
            </div>
            <div class="col-md-4">
                <label>Pokemon Image</label>
                <img id="imgPokemon" width="200" height="200" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="list-group-item">Type</label>
                <ul id="lstType" class="list-group-item" />
            </div>
            <div class="col-md-4">
                <label class="list-group-item">Strong against</label>
                <ul id="lstStrong" class="list-group-item" />
            </div>
            <div class="col-md-4">
                <label class="list-group-item">Weak against</label>
                <ul class="list-group-item" id="lstWeak" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var uri = 'http://pokeapi.co/api/v2/';
    var apiUri = 'http://localhost:4849/api/PokemonLists';
    var suffix = 'pokemon/';

    window.onload = function getPokemon() {
        clearCurrentPokemon();
        $('#lstPokemon').empty();
        $.ajax(
            {
                type: 'GET',
                url: apiUri,
                dataType: 'json',
                processData: true,
                success: function (data, status) {
                    $.each(data, function (key, item) {
                        $('<option>', {
                            text: item.Name, id: item.Id }).appendTo('lstPokemon');
                    })
                },
                error: function (jqXHR, errorThrown) { alert(jqXHR.status) },
            })
    };

    function pokemonSelected() {
        $('#lstType').empty();
        $('#lstStrong').empty();
        $('#lstWeak').empty();
        var pokemonId = $('#lstPokemon option:selected').attr('id');
        var completeURL = uri + suffix + pokemonId;

        $.ajax(
            {
                type: 'GET',
                url: completeURL,
                dataType: 'json',
                processData: true,
                success: function (data, status) {
                    var imageSource = data.sprites.front_default
                    $('#imgPokemon').attr('src', imageSource);

                    $.each(data.types.type, function (key, item) {
                        $('<li>', { text: item.name }).appendTo('#lstType');
                        var typeUrl = $({ text: item.url });
                        $.ajax(
                            {
                                type: 'GET',
                                url: typeUrl,
                                dataType: 'json',
                                processData: true,
                                success: function (data, status) {
                                    $.each(data.damage_relations.no_damage_to, function (key, item) {
                                        $('<li>', { text: item.name }).appendTo('#lstWeak');
                                    }),
                                    $.each(data.damage_relations.half_damage_to, function (key, item) {
                                        $('<li>', { text: item.name }).appendTo('#lstWeak');
                                    }),
                                    $.each(data.damage_relations.double_damage_from, function (key, item) {
                                        $('<li>', { text: item.name }).appendTo('#lstWeak');
                                    })
                                },
                            });

                    });
                },
                error: function (jqXHR, errorThrown) { alert(jqXHR.status) },
        })
    }

    function clearCurrentPokemon()
    {
        var img = $("#imgPokemon");
        img.attr("src", "");
        $("#lstType").empty();
        $("#lstStrong").empty();
        $("#lstWeak").empty();
    }
</script>